.color-red {
  color: red;
  font-weight: bold;
}
.color-green {
  color: green;
  font-weight: bold;
}
.team-image {
  height: 150px;
  width: 150px;
}
.card-details {
  background-color: #1e293b;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.c-team {
  color: white;
  font-weight: bold;
}
